.preview-image {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0.5rem;
  width: 480px;
  height: 320px;
}

.youtube-icon {
  z-index: 2;
  font-size: 4em;
  color: #7c7c7cc2;
}

.preview-image:hover > .youtube-icon {
  color: #cc181e;
  transition: 0.3s;
}

@media screen and (max-width: 500px) {
  .preview-image {
    width: 100%;
    height: 40vh;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 450px) {
  .preview-image {
    height: 30vh;
  }
}

@media screen and (max-width: 350px) {
  .preview-image {
    height: 25vh;
  }
}
