.preview-image {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0.5rem;
  width: 480px;
  height: 320px;
  border-radius: 0.2rem;
}

.youtube-icon {
  z-index: 2;
  font-size: 4em;
  color: #7c7c7cc2;
}

.preview-image:hover > .youtube-icon {
  color: #cc181e;
  transition: 0.3s;
}
