.logo-image {
	font-size: 2rem;
}

.logo-text {
	text-transform: uppercase;
  position: relative;
  display: inline-block;
  margin-bottom: 13px;
}

.logo-text::before {
  content: '';
  width: 0;
  display: block;
  left: 0;
  height: 2px;
  position: absolute;
  bottom: -2px;
  background-color: #ffffff;
  transition: all 0.8s;
}

.logo-text:hover::before {
  width: 100%;
}

@media screen and (max-width: 465px) {
  .logo-text {
      font-size: 1rem;
      margin: auto 0;
  }

  .logo-image {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 400px) {
  .logo-text {
      font-size: .7rem;
      margin: auto 0;
  }

  .logo-image {
    font-size: .9rem;
  }
}