.letter {
	display: inline-block;
	margin: 5px;
	font-size: 50px;
	font-weight: bold;
	opacity: 0.3;
}

.word {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.parallax-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	z-index: -1;
	min-height: 100vh;
}