.works-list {
  width: 70%;
  margin: auto;
}

.table-wrapper {
  position: relative;
  margin: 50px 0;
  border-top: 7px solid #000;
  border-bottom: 7px solid #000;
}

.table-wrapper::before,
.table-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  width: 12%;
  height: 100%;
  background-image: url("../../../static/assets/film-tape-part.png");
  background-size: contain;
  background-repeat: repeat-y;
}

.table-wrapper::before {
  left: 0;
  background-position: 0;
}

.table-wrapper::after {
  right: 0;
  background-position: 100% 0;
}

.works-list th {
  font-size: 1rem;
}

.timeline-item-dateinner {
  border: none !important;
}
