.search-bar {
    width: 40%;
    margin: 30px auto;
    display: block;
}

.search-bar[placeholder] {
    text-overflow: ellipsis;
}

.search-bar:focus::-webkit-input-placeholder {
    opacity: 1; transition: opacity 0.3s ease;
    opacity: 0; transition: opacity 0.3s ease;
}

@media (max-width: 500px) {
    .search-bar {
        font-size: 1.4em;
        margin-bottom: 20px;
        width: 100%;
    }
}