.marker-btn {
    width: 30px; 
    height: 30px;
    border-radius: 50%;
    border: none;
    background: transparent;
    position: relative;
    outline: none;
}

.marker-btn:after {
    content: "";
    width: 18px; 
    height: 18px;
    position: absolute; 
    left: calc(50% - 9px); 
    top: calc(50% - 9px);
    background: #4bbf73;
    border-radius: 0 50% 50% 50%;
    box-shadow: 0 0 3px 1px rgba(0,0,0,.3);
}