.day-author__photo {
  width: 230px;
  height: 230px;
}

.day-author__description {
  margin-left: 3%;
}

.day-author__description ul {
  padding: 0;
}

@media (max-width: 568px) {
  .day-author__description {
    margin: 3% 0 0;
  }
}
